{% extends 'users/layout.html'%}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('users.users_home')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Firmware</li>
        </ol>
    </nav>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary btn-sm border-0 rounded-0" onclick="location.reload();">
                <i class="fas fa-sync-alt"></i> Refresh
            </button>
            <a class="btn btn-success btn-sm border-0 rounded-0" href="{{url_for('firmware.new_firmware_build')}}" role="button">New Build</a>
            <a class="btn btn-danger btn-sm border-0 rounded-0 disabled" href="#" role="button" >Delete all failed builds</a>
        </div>
    </div>
{% endblock content %}