{% extends 'users/layout.html'%}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('users.users_home')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Firmware</li>
        </ol>
    </nav>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary btn-sm border-0 rounded-0" onclick="location.reload();">
                <i class="fas fa-sync-alt"></i> Refresh
            </button>
            <a class="btn btn-success btn-sm border-0 rounded-0" href="{{url_for('firmware.new_firmware_build')}}" role="button">New Build</a>
            {% if failed_builds == 0 %}
                <a class="btn btn-danger btn-sm border-0 rounded-0 disabled" href="#" role="button" >Delete all failed builds</a>
            {% else %}
                <a class="btn btn-danger btn-sm border-0 rounded-0" href="#" role="button">Delete all failed builds</a> 
            {% endif %}
        </div>
        <div class="card mt-3">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h6 class="header-title">Firmware Builds</h6>
            </div>
            <div class="card-body pt-0">
                {% if total == 0 %}
                    <div class="alert alert-info mt-3" role="alert">
                        No Firmware found.
                    </div>
                {% else %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Client</th>
                                <th scope="col">Patch</th>
                                <th scope="col">Size</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for firmware in firmware %}
                                <tr>
                                    <td>{{firmware.md5sum}}</td>
                                    <td>{{firmware.client_name}}</td>
                                    <td>{{firmware.firmware_name}}</td>
                                    <td>{{firmware.firmware_size}}</td>
                                    <td>
                                        {% if firmware.status == 'started' %}
                                            <span id="spinner-{{ firmware.id }}" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        {% elif firmware.status == 'success' %}
                                            <span style="color: forestgreen; font-weight: bold;">{{ firmware.status }}</span>
                                        {% elif firmware.status == 'failed' %}
                                            <span style="color: firebrick; font-weight: bold;">{{ firmware.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if firmware.status == 'started' %}
                                            <a href="#" class="action-icon download text-decoration-none text-dark"><i class="bi bi-download"></i></a>
                                            <a href="#" class="action-icon info"><i class="bi bi-info-circle"></i></a>
                                        {% elif firmware.status == 'failed' %}
                                            <a href="#" class="action-icon download text-decoration-none text-dark"><i class="bi bi-download"></i></a>
                                            <a href="#" class="action-icon info"><i class="bi bi-info-circle"></i></a>
                                        {% else %}
                                            <a href="#" class="action-icon download text-decoration-none text-dark" target="_blank"><i class="bi bi-download"></i></a> 
                                            <a href="#" class="action-icon info"><i class="bi bi-info-circle"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <!--Pagination-->
                <div class="rounded-0 col-lg-13 mx-auto">
                    {% for page_num in firmware.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                      {% if page_num %}
                        {% if firmware.page == page_num %}
                          <a class="btn btn-secondary btn-sm mb-4 mt-2" href="{{ url_for('firmware.build_firmware',page=page_num)}}">{{ page_num }}</a>
                        {% else %}
                          <a class="btn btn-secondary btn-sm mb-4 mt-2" href="{{ url_for('firmware.build_firmware',page=page_num)}}">{{ page_num }}</a>
                        {% endif %}  
                      {% else %}
                        ...
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}