{% extends 'users/layout.html'%}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('users.users_home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('firmware.build_firmware')}}">Firmware</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Firmware Build</li>
        </ol>
    </nav>
    <form method="post" action="" class="mt-5 form-horizontal" id="buildForm"  enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-3 col-form-label">Client name</label>
                    <div class="col-9">
                        {{form.client_name(class="form-control")}}  
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-3 col-form-label">Patch name</label>
                    <div class="col-9">
                        {{form.patch_name(class="form-control")}}  
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-3 col-form-label">Description</label>
                    <div class="col-9">
                        {{form.description(class="form-control")}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-3 col-form-label">Install Script</label>
                    <div class="col-9">
                        {{form.install_script(class="form-control", rows=10, cols=50)}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-3 col-form-label"></label>
                    <div class="col-9">
                        <div class="form-check">
                            {{form.restore(class="form-check-input")}}
                            <label class="form-check-label">
                                Restore Factory Settings
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-3 col-form-label"></label>
                    <div class="col-9">
                        <div class="form-check">
                            {{form.menu(class="form-check-input",id="menuEntry")}}
                            <label class="form-check-label" for="menuEntry">
                                Menu
                            </label>
                        </div>
                    </div>
                </div>
                <div class="border p-3 mb-3">
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-3 col-form-label">Program name</label>
                        <div class="col-9">
                            {{form.program_name(class="form-control", id="display_name")}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-3 col-form-label">Executable Path</label>
                        <div class="col-9">
                            {{form.executable(class="form-control", id="executable")}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-3 col-form-label">Icon Path</label>
                        <div class="col-9">
                            {{form.icon(class="form-control", id="icon")}}
                        </div>  
                    </div>
                    <div class="row mb-3">
                        <label for="files" class="col-3 col-form-label">User</label>
                        <div class="col-9">
                            {{ form.executable_user(class="form-control", id="user") }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="files" class="col-3 col-form-label">Upload Files</label>
                    <div class="col-9">
                        {{ form.files(class="form-control", id="files") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-9 offset-3">
                        <ul id="fileList"></ul>
                    </div>
                </div>
            </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {{ form.submit(class="btn btn-primary btn-sm me-md-2")}}    
        </div>
        
    </form>
    <script>
        let selectedFiles = [];

        document.getElementById('files').addEventListener('change', function(event) {
            let fileList = document.getElementById('fileList');

            // Append new files to the selectedFiles array
            for (let i = 0; i < this.files.length; i++) {
                selectedFiles.push(this.files[i]);
            }

            // Clear the file list display
            fileList.innerHTML = '';

            // Display the selected files
            for (let i = 0; i < selectedFiles.length; i++) {
                let li = document.createElement('li');
                li.textContent = selectedFiles[i].name;
                fileList.appendChild(li);
            }

            // Update the form files input with the selected files
            let dataTransfer = new DataTransfer();
            for (let i = 0; i < selectedFiles.length; i++) {
                dataTransfer.items.add(selectedFiles[i]);
            }
            this.files = dataTransfer.files;
        });
        // Disable Executable and Icon Path inputs initially
        document.getElementById('display_name').disabled = true;
        document.getElementById('executable').disabled = true;
        document.getElementById('icon').disabled = true;
        document.getElementById('user').disabled = true;

        // Enable/disable inputs based on Menu Entry checkbox
        document.getElementById('menuEntry').addEventListener('change', function() {
            let isChecked = this.checked;
            document.getElementById('display_name').disabled = !isChecked;
            document.getElementById('executable').disabled = !isChecked;
            document.getElementById('icon').disabled = !isChecked;
            document.getElementById('user').disabled = !isChecked;
        });
    </script>
{% endblock content %}