{% extends 'users/layout.html'%}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('users.users_home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('quickfirmware.quickfirmware')}}">Quick Firmware</a></li>
            <li class="breadcrumb-item active" aria-current="page">Build Firefox</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl-7 col-lg-12 order-lg-2 order-xl-1">
            <div class="card mt-5">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h5 class="header-title">
                        <img src="{{url_for('static', filename='images/mozilla-firefox-icon.png')}}" alt="Mozilla Firefox" width="24" height="24" class="me-2">
                        Mozilla Firefox
                    </h5>
                </div>
                <div class="card-body pt-0">
                    <form method="post" action="" class="mt-3 form-horizontal" id="buildForm">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-3 col-form-label">Client</label>
                            <div class="col-9">
                                {{form.client_name(class="form-control", id="clientname")}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-3 col-form-label">Description</label>
                            <div class="col-9">
                                {{form.description(class="form-control", id=description)}}
                            </div>
                        </div>
                        <div class="justify-content-end row">
                            <div class="col-9">
                                {{form.submit(class="btn btn-success btn-sm", id="buildButton")}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const buildForm = document.getElementById('buildForm');
            const buildButton = document.getElementById('buildButton');
            buildForm.addEventListener('submit', function(event){
                    buildButton.disabled = true;
                    return true;
                });
        </script>
    </div>
{% endblock content %}